# Ignore venv
venv/

# Ignore Python cache files
__pycache__/
.pytest_cache

# Ignore config.py
config.py

#ignore idea
.idea/

#ignore main
main.py

#ignore .evn
.evn

#ignore locust
locustfile_product.py